%button  {   /*Step 3: Text Styles*/
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    weight:lighter;
    line-height: 40px;  

	text-decoration: none;
	

	
}



