@import 'colors';
@import 'button';
@import 'typography';
@import 'bourbon/bourbon';


body             { margin: 40px;}


#line-space      { margin: 32px 0; clear: both;}

#line-space-b    { margin: 46px 0; clear: both;}

.swatch      {

	display: block; width: 40px; height: 40px;

	&.red  { background-color: $red; border: 1pt solid $red;}

	&.pink { background-color: $pink;border: 1pt solid $pink;}

	&.blue { background-color: $blue;border: 1pt solid $blue;}

	&.bk   { background-color: #000; display: inline-block; border: 1pt solid;}

	&.wt   { background-color: #FFF; display: inline-block; border: 1pt solid;}

}

#line-example {
			border-bottom: 1pt dotted $red; 
			margin: 40px 0 0 0;
		}


@for $number from 1 through 12 {
.cell-#{$number} { width: 78px * $number; }
}

.row .cell-1 { 
	display		 : inline-block;
	background-color : lightgray;
	height           : 200px;
	border: 1pt solid #FFF;
}

#site-map{ margin: 0;padding:0;
	background-image: url('../images/button-group_bg.png');
	width:848px; height: 117px; background-repeat: no-repeat; 

	
	}

.search {position: relative;}

.search input { border: 1pt solid $red;
	text-indent: 30px; 
	width: 266px; 
	height: 29px; 
	font-size: 10pt; letter-spacing: 1px;
	}
.search .fa-search { 
  position: absolute;
  top: -11px;
  left: -7px;
  font-size: 15px; color: gray; 
}


.signup input { border: 1pt solid $pink;
	text-indent: 15px; 
	width: 266px; 
	height: 29px; 
	font-size: 10pt; letter-spacing: 1px; margin-bottom: 3px;
	}

